body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #ff8f00; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1em; line-height: 1.1em; color: #333; }
p, ol { font-size: 1em; line-height: 1.1em; color: #333; }

ol ul { font-size: 1em; line-height: 1.1em; color: #333; }

h1, h2, h3, h4, h5 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 2.5em;  }
h2 { font-size: 2em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.1em; }


nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: normal; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }


footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
