<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>


	<body>
		<nav>
<ul>
  {% if page.navigation %}
    {% for navlink in page.navigation %}
      <li><a href="{{ navlink.url | prepend: site.baseurl }}">{{ navlink.name }}</a></li>
    {% endfor %}
  {% endif %}
</ul>
		</nav>
<div class="container">

			{{ content }}

      {% if page.sections %}
        {% for section in page.sections %}
          <section>
            {% capture section_content %}{% include_relative {{ section }}.md %}{% endcapture %}
            {{ section_content | markdownify }}
          </section>
        {% endfor %}
      {% endif %}

</div>

	</body>

</html>
