<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>


	<body>
		<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/learning-objectives">Learning objectives</a></li>
<li><a href="/materials">Course Materials</a></li>
<li><a href="/logistics">Logistics</a></li>
<li><a href="/faq">FAQs</a></li>
<li><a href="/about">About</a></li>
</ul>
		</nav>
<div class="container">

			{{ content }}

</div>

	</body>

</html>
