<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>


	<body>
		<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/materials">Course Materials</a></li>
<li><a href="/logistics">Logistics</a></li>
<li><a href="/faq">FAQs</a></li>
</ul>
		</nav>
<div class="container">

			{{ content }}

</div>

	<footer>
		<p> <small> The Princeton Sociology Summer Methods Camp began in 2016,
			and it was initially developed by Rebecca Johnson and Janet Xu (graduate students instructors)
			and Brandon Stewart (faculty advisor). </small></p>
					<!--		<li><a href="mailto:xxx@gmail.com">email</a></li> -->
			<!--	<li><a href="http://scholar.princeton.edu/bstewart/home">http://scholar.princeton.edu/bstewart/home</a></li>  -->
	</footer>
	</body>

</html>
